version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: smart-backend
    ports:
      - "3000:3000"
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: smart-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: unless-stopped
